@tailwind base;
@tailwind components;
@tailwind utilities;

a {
  @apply text-primary-700;
}

a:hover {
  @apply underline;
}

header a {
  @apply hover:no-underline
}

/* Hx anchor */
.title-anchor {
  padding-left: 0.5rem;
}
a.title-anchor {
  text-decoration: none;
  @apply text-primary-700;
  opacity: 0.75;
}
a.title-anchor:hover {
  text-decoration: none;
  opacity: 1;
}

#on-this-page > ul {
  @apply list-none pb-5 border-b-2;
}

/* Sidebar */
#sidebar h3 {
  @apply text-slate-500 dark:text-slate-200 uppercase font-semibold text-sm;
}
#sidebar ul {
  @apply list-none p-0 mb-6;
}
#sidebar ul:last-child {
  @apply mb-0;
}
#sidebar ul>li {
  @apply my-3;
}
#sidebar ul>li:last-child {
  @apply mb-0;
}
#sidebar ul>li>a {
  @apply text-slate-800 dark:text-slate-300;
}
#sidebar ul>li>a.active {
  @apply font-bold;
}

/* DocSearch */
.DocSearch.DocSearch-Button {
  @apply w-full md:w-64 lg:w-80 rounded m-0 px-3 lg:px-4 py-2 bg-primary-800 focus:outline-none focus:bg-primary-700 shadow-inner cursor-pointer !important;
  @apply max-md:bg-transparent !important;
  @apply max-md:shadow-none !important;
}
.DocSearch .DocSearch-Button-Placeholder {
  @apply text-primary-100 !important;
}
.DocSearch-Button-Keys {
  display: none !important;
}
.DocSearch-Search-Icon {
  @apply text-primary-100 !important;
}
.DocSearch-Form {
  @apply bg-primary-800 !important;
  @apply text-primary-100 !important;
}
.DocSearch-Input {
  @apply text-primary-100 !important;
}
.DocSearch-Input::placeholder {
  @apply text-primary-100 !important;
}

#theme-select, #lang-select {
  @apply bg-transparent border-0 text-primary-100 cursor-pointer;
}
#theme-select:hover, #lang-select:hover {
  @apply text-primary-50;
}
#theme-select option, #lang-select option {
  @apply text-primary-950;
}

/* Note block in Markdown */
.note {
  position: relative;
  padding: 1rem;
  margin-bottom: 1rem;
  border-radius: 0.25rem;
  @apply border border-l-4 border-blue-500 dark:border-white;
}
.note > p {
  margin: 0;
}
[class*="note-"] {
  padding-left: 2.5rem;
  padding-right: 2.5rem;
}
[class*="note-"]:before {
  position: absolute;
  top: 1.3rem;
  left: 0.8rem;
  display: block;
  width: 1rem;
  height: 1rem;
  mask-image: url(/images/icons/info.svg);
  mask-size: contain;
  mask-position: center;
  mask-repeat: no-repeat;
  content: "";
  @apply bg-blue-500 dark:bg-white;
}
.note-info {
  @apply border border-l-4 border-sky-700 dark:border-sky-400 bg-sky-50 dark:bg-sky-900;
}
.note-info:before {
  mask-image: url(/images/icons/info.svg);
  @apply bg-sky-700 dark:bg-sky-400;
}
.note-tip {
  @apply border border-l-4 border-lime-700 dark:border-lime-400 bg-lime-50 dark:bg-lime-900;
}
.note-tip:before {
  mask-image: url(/images/icons/light-bulb.svg);
  @apply bg-lime-700 dark:bg-lime-400;
}
.note-important {
  @apply border border-l-4 border-red-700 dark:border-red-400 bg-red-50 dark:bg-red-900;
}
.note-important:before {
  mask-image: url(/images/icons/stop.svg);
  @apply bg-red-700 dark:bg-red-400;
}
