{% extends '_default/page.html.twig' %}

{% block content %}
<div class="mx-auto pt-10 md:pt-16">
{% for block in page.blocks|default %}
  {%- include 'blocks/' ~ block.name ~ '.html.twig' ~%}
{% endfor %}
  <div class="m-10 items-center justify-center markdown dark:markdown-invert">
    {{ page.content }}
  </div>
</div>
{% endblock %}