      <nav id="sidebar" class="fixed flex-shrink-0 lg:w-64 xl:w-80 lg:flex lg:flex-col z-30 h-screen w-full hidden bg-gray-100 px-6 lg:px-8 py-4 lg:py-8 overflow-auto leading-tight">
        {%- for group in site.sidebar ~%}
        <h3>{{ group }}</h3>
        <ul>
          {#{%- for p in site.pages.showable|filter(p => p.path matches '{^docs/' ~ group|slugify ~ '}') ~%}#}
          {%- for p in site.pages.showable|filter(p => p.folder == 'docs/' ~ group|slugify) ~%}
          <li>
            <a href="{{ url(p) }}" class="{% if url(p) == url(page) %}active{% endif %}">{{ p.title }}</a>
          </li>
          {%- endfor ~%}
        </ul>
        {%- endfor ~%}
      </nav>