        {#- cta ~#}
        <div class="flex flex-row space-x-6 items-center justify-center text-center">
          <a href="{{ block.button }}" class="rounded-lg px-6 py-3 font-bold text-base text-white dark:text-white bg-primary-700 hover:no-underline transition-colors duration-300 ease-in-out hover:bg-primary-400">{% trans %}Get started{% endtrans %}</a>
          <a href="{{ block.link|default(site.github.repo) }}" class="font-bold text-base text-primary-700 dark:text-primary-400 align-middle hover:no-underline transition-colors duration-300 ease-in-out hover:text-primary-400">{% trans %}View on GitHub{% endtrans %} →</a>
        </div>