        {#- hero ~#}
        <div class="flex flex-col space-y-8 justify-center text-center lg:justify-start lg:text-left lg:w-3/4">
          <h1 class="font-bold text-4xl md:text-5xl lg:text-6xl tracking-tight">{{ block.baseline}}</h1>
          <div class="font-light text-xl lg:text-2xl">{{ block.description|markdown_to_html }}</div>
        </div>