<div class="m-10 flex flex-col space-y-8 items-center justify-center text-center">
  <div class="font-bold text-5xl">{{ site.baseline}}</div>
  <div class="font-light text-xl">{{ site.description }}</div>
</div>